<!DOCTYPE html>
<head>
  <title>Dino Park</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h1>Dino Park</h1>
    <hr>
    <p>Welcome to Dino Park! Your virtual playground of your favorite dinosaurs!</p>

    <h3>Here are the current Dinos in the park:</h3>
    <ul>
      <li>@Model.DinoList[0].Name - @Model.DinoList[0].Species: @Model.DinoList[0].Age</li>
      <li>@Model.DinoList[1].Name - @Model.DinoList[1].Species: @Model.DinoList[1].Age</li>
      <li>@Model.DinoList[2].Name - @Model.DinoList[2].Species: @Model.DinoList[2].Age</li>
    </ul>
  </div>
</body>